//- index.pug
doctype html
html
  head
    title Welcome to Rehla's Dance Academy portal...
    style
      include ../static/style.css
  body
    nav#navbar
      ul
        div#logo
          img(src='/static/img/logofinal.png')
          | HDA
        li #[a(href="/") Home] 
        li #[a(href="/") About] 
        li #[a(href="/") Classes_Info]
        li #[a(href="/") Services] 
        li #[a(href="/") Contact Us] 

    section#introSection
      div  Welcome to the Rehla's Dance Academy 
      div.small  Eat Sleep Dance Repeat...

    section#missionSection 
      h2 Our Mission
      div.card
        h3 Dance the way you like
        div.card-box
          div.card-img
            img(src="/static/img/dance_logo1.png")
          div.card-content
            p This is the best dance acdemy of Rehla.
      div.card
        h3 Dance perfection

        div.card-box
          div.card-img
            img(src="/static/img/dance_logo3.png")
          div.card-content
            p Do connect with us to feel the sprituality of yourself.
      
      div.card
        h3 Expert Teaching

        div.card-box
          div.card-img
            img(src="/static/img/dance_logo2.png",)
          div.card-content
            p Guidance from the best choreographer of bollywood.
    
    section#sponserSection 
      h2 Our Sponsers

      div#sponsers
        img(src="/static/img/logo1.png", alt="Sponsor image", class="spImage")
        img(src="/static/img/logo2.png", alt="Sponsor image", class="spImage")
        img(src="/static/img/logo3.png", alt="Sponsor image", class="spImage")
        img(src="/static/img/logo4.png", alt="Sponsor image", class="spImage")


    footer#footer 
      | Copyright    © RehlaDanceAcademy.com   |All Right Reserved.
    script
      include ../static/index.js