@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0 ;
    font-family: 'Baloo Tammudu 2', cursive;
    /* background-color: rgb(34, 31, 31); */
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin:0px 14px;
     
}

#logo img{
    height: 54px;
    margin-top: -16px;
    margin-left: -8px;
    filter: invert(1);
}
#navbar{
    background-color: #454242;
    padding: 14px 14px;
    height: 55px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar li{

    list-style: none;
}
#navbar li a{
    text-decoration: none;
    padding: 13px 30px;
    color: white;
    font-size: 1.2rem;
}

#navbar li a:hover{
    color: black;
}

#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 34px;
    align-items: center;
    background: url("/static/bg.jpg") center / cover no-repeat;
    height: 462px;
    background-color: grey;
}

#introSection div.small{
    font-size: 27px;
}

#missionSection{

    height: 333px;
    background-color: rgba(14, 12, 12, 0.808);
    margin: auto;
    width: 100%;

}

#missionSection h2{
    padding: 11px;
    text-align: center;
    color: white;
}

.card{
    border: 2px solid black;
    width: 30%;
    height: 200px;
    margin: -2px 25px;
    border-radius: 7px;
    display: inline-block;
    background-color: white;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 100px;
    padding: 0 13px;

}

.card-img img{
    margin-top: -30px;
    margin-left: -12px;
    height: 160px;
}

.specialImg{
    height: 144px;
}

.card-content{
    padding: 1px 3px;
}
.card-content p{
    text-align: center;
    font-size: 1.2rem;
}
.card h3{
    padding: 11px;
    text-align: center;
    color: black;
}
#sponserSection{

    height: 300px;
    background-color: rgba(0, 0, 0, 0.808);
}
#sponserSection h2{
    padding: 11px;
    text-align: center;
    color: white;
}

#sponsers{
    margin-left: 284px;
    margin-top: -16px;
    height: 204px;
    /* margin: auto; */
    max-width: 1000px;
}



.spImage{
    height: 80%;
    margin: 20px;
}

#footer{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: black;
    height: 60px;
}